.Table {
    font-family: 'Trebuchet MS', sans-serif;
}

.Table table{
    border-collapse: collapse;
    
}

.Table td,.Table th{
    border: 1px solid black;
    width: 20rem;
}

.Table th{
    cursor: pointer;
}

